name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: volta-cli/action@v1
    - run: yarn install --frozen-lockfile
    - run: yarn run lint
    - run: yarn test
    - run: yarn run build
      env:
        CI: true
